.contacts{
	width: 1000px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1000px){
	.contacts{
		width: 100%;
	}

	.map{
		width: 100%;
	}

	.map>ymaps{
		width: 100%!important;
	}
}